@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

body {
    background-color: rgb(253, 251, 251);
}

.meuNome,
.descricao {
    font-family: 'Roboto Slab', serif;


}

em {
    color: blueviolet;
}

.c++ {
    font-size: 20px;
}

.cakephp {
    font-size: 19px;
}

.css-3 {
    font-size: 18px;
}

.html-5 {
    font-size: 17px;
}

.java {
    font-size: 16px;
}

.javascript {
    font-size: 15px;
}

.metoAgil {
    font-size: 14px;
}

.php {
    font-size: 13px;
}

.sql {
    font-size: 12px;
}