@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

body {
    background-color: rgb(253, 251, 251);
}
header {
    position:fixed;
    top: 0;
    
}


.id { 
    position: top;
}

.meuNome,
.descricao {
    font-family: 'Roboto Slab', serif;
}

em {
    color: blueviolet;
}

.sobre-aprender {
    display: flex;
}

.lado-esquerdo {
    border: 3px solid black;
    display: flex;
    padding: 5px;
    margin: 5px;
    text-align: left;
    font-size: 25px;
    letter-spacing: 2px;
}

.lado-direito {
    border: 3px solid black;
    display: flex;
    margin: 5px;
    font-size: 25px;
    letter-spacing: 2px;
}

.lado-direito h2 {
    background-color: aquamarine;
    padding: 48px;
    margin: auto;
}

.lado-direito p {
    text-align: left;
}

#licoes_aprendidas {
    margin: 10px;
}

#licoes_a_aprender {
    margin: 10px;
}

#licoes_aprendidas, #licoes_a_aprender {
    border: 3px solid black;
    width: 400px;
    padding: 20px 60px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}